.inboxes-inbox-item {
    padding: 2px 3px;
    border-radius: 3px;
}

.inboxes-inbox-item .inboxes-inbox-item-counter {
    float: right;
    margin-top: 1px;
    background-color: #eee;
    border-radius: 3px;
}

.inboxes-inbox-item .inboxes-inbox-item-counter > a {
    display: inline-block;
    width: 3em;
    text-align: center;
}

.inboxes-inbox-item .inboxes-inbox-item-icon {
    vertical-align: middle;
}

/* hover effect */

.inboxes-inbox-item:hover {
    background-color: #ffd;
}

/* selected item */

.inboxes-inbox-item.inboxes-selected {
    background-color: #798;
}

.inboxes-inbox-item.inboxes-selected .inboxes-inbox-item-counter {
    background-color: #465;
}

.inboxes-inbox-item.inboxes-selected .inboxes-inbox-item-text > a,
.inboxes-inbox-item.inboxes-selected .inboxes-inbox-item-counter > a {
    color: white;
    font-weight: bold;
}
