.inboxes-inbox {
    padding: 2px 3px;
    border-radius: 3px;
    cursor: pointer;
}

.inboxes-inbox .inboxes-inbox-counter {
    float: right;
    margin-top: 1px;
    background-color: #f8f8f8;
    border-radius: 3px;
    width: 3em;
    text-align: center;
}

.inboxes-inbox .inboxes-inbox-icon {
    vertical-align: middle;
}

/* hover effect */

.inboxes-inbox:hover {
    background-color: #ddeef7;
}

.inboxes-inbox:hover .inboxes-inbox-counter {
    background-color: inherit;
}

/* selected inbox */

.inboxes-inbox.inboxes-selected {
    background-color: #048ec8;
    color: white;
    font-weight: bold;
}

.inboxes-inbox.inboxes-selected .inboxes-inbox-counter {
    background-color: #048ec8;
}
