.inboxes-item {
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.inboxes-item:hover {
    background-color: #ffd;
}

.inboxes-item-show-on-hover {
    display: none;
}

.inboxes-item:hover .inboxes-item-show-on-hover {
    display: block;
}

.inboxes-item-tag {
    margin-right: 0.5em;
    padding: 1px 8px 2px;
    font-size: 80%;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 8px;
    background-color: #678;
}

.inboxes-item-float-right {
    float: right;
}

.inbox-item-icon {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
}

.inbox-item-description {
    min-height: 100px;
    margin-left: 120px
}

.inboxes-item-line1 {
    border-bottom: 1px solid #f8f8f8;
    padding-bottom: 6px;
    margin-bottom: 6px;
}