.inboxes-item {
    padding: 20px 10px;
    border-bottom: 1px solid #eee;
}

.inboxes-item:hover {
    background-color: #F5F5F5;
}

.inboxes-item-show-on-hover {
    display: none;
}

.inboxes-item:hover .inboxes-item-show-on-hover {
    display: block;
}

.inboxes-item-tag {
    margin-right: 0.5em;
    padding: 1px 8px 2px;
    font-size: 80%;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 8px;
    background-color: #888;
}

.inboxes-item-float-right {
    float: right;
}

.inbox-item-icon {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
}

.inbox-item-description {
    min-height: 100px;
    margin-left: 120px
}

.inboxes-item-line1, .inboxes-item-line2 {
    margin-bottom: 10px;
}

.inboxes-item-button {
    border: 1px solid #ccc;
    padding: 0 10px;
    min-height: 2em;
    background-color: inherit;
    cursor: pointer;
}

.inboxes-item-button.inboxes-item-button-approve:hover {
    background-color: #4eb432;
    border-color: #888;
}

.inboxes-item-button.inboxes-item-button-reject:hover {
    background-color: #f04e32;
    border-color: #888;
}
