<div class="inboxes-item">
    <div class="inbox-item-icon"></div>
    <div class="inbox-item-description">
        <div class="inboxes-item-line1">
            <div class="inboxes-item-float-right inboxes-item-show-on-hover">
                <input type="submit" name="approve" value="Approve"/>
                <input type="submit" name="reject" value="Reject"/>
            </div>
            <h2>
                ${cmisAttributes.cmis_name}
                <span class="inboxes-item-tag">${cmisAttributes.cmis_versionLabel}</span>
            </h2>
        </div>
        <div class="inboxes-item-line2">
            <h3>${cmisAttributes.cm_title}</h3>
        </div>
        <div class="inboxes-item-line3">
            Modified just now by ${cmisAttributes.cmis_lastModifiedBy} - 373 KB
        </div>
        <div class="inboxes-item-line4">
            ${cmisAttributes.cm_description}
        </div>
    </div>
</div>