<div class="inboxes-item">
    <div class="inbox-item-icon"></div>
    <div class="inbox-item-description">
        <div class="inboxes-item-line1">
            <div class="inboxes-item-float-right inboxes-item-show-on-hover">
                <input type="submit" name="approve" value="Approve"/>
                <input type="submit" name="reject" value="Reject"/>
            </div>
            <h2>
                Project Contract.pdf
                <span class="inboxes-item-tag">1.1</span>
                <span class="inboxes-item-tag">tag</span>
            </h2>
        </div>
        <div class="inboxes-item-line2">
            <h3>Project Contract for Green Enery</h3>
        </div>
        <div class="inboxes-item-line3">
            Modified just now by Administrator - 373 KB
        </div>
        <div class="inboxes-item-line4">
            Contract for the Green Energy project
        </div>
    </div>
</div>