<div class="inboxes-item">
    <div class="inbox-item-icon"><img src="${previewUrl}"></div>
    <div class="inbox-item-description">
        <div class="inboxes-item-line1">
            <div class="inboxes-item-float-right inboxes-item-show-on-hover">
                <button class="inboxes-item-button inboxes-item-button-approve"
                        data-dojo-attach-event="click:approveAction">${approveLabel}
                </button>
                <button class="inboxes-item-button inboxes-item-button-reject"
                        data-dojo-attach-event="click:rejectAction">${rejectLabel}
                </button>
            </div>
            <h2>
                ${escapedLine1}
                <span class="inboxes-item-tag">${escapedTag}</span>
            </h2>
        </div>
        <div class="inboxes-item-line2">
            <h3>${escapedLine2}</h3>
        </div>
        <div class="inboxes-item-line3">
            <div class="inboxes-item-float-right inboxes-item-show-on-hover">
                <a class="download-link" href="${downloadUrl}">${downloadLabel}</a>
            </div>
            ${escapedLine3}
        </div>
        <div class="inboxes-item-line4">
            ${escapedLine4}
        </div>
    </div>
</div>